<form [formGroup]="restaurantForm" (ngSubmit)="onSubmit()">
  <label for="id">ID:</label>
  <input type="number" id="id" formControlName="id" />

  <label for="name">{{ "FORM_NAME" | translate }}</label>
  <input type="text" id="name" formControlName="name" />

  <label for="address">{{ "FORM_ADDRESS" | translate }}</label>
  <input type="text" id="address" formControlName="address" />

  <label for="telephoneNumber">{{ "FORM_PHONE" | translate }}</label>
  <input type="number" id="telephoneNumber" formControlName="telephoneNumber" />

  <label for="email">{{ "FORM_EMAIL" | translate }}</label>
  <input type="email" id="email" formControlName="email" />

  <label for="workingHours">{{ "FORM_WORKING_HOURS" | translate }}</label>
  <input type="number" id="workingHours" formControlName="workingHours" />

  <label for="currentlyOpen">{{ "FORM_CURRENTLY_OPEN" | translate }}</label>
  <select id="currentlyOpen" formControlName="currentlyOpen">
    <option [ngValue]="true">{{ "YES" | translate }}</option>
    <option [ngValue]="false">{{ "NO" | translate }}</option>
  </select>

  <label for="averageDeliveryTime">{{
    "FORM_AVERAGE_DELIVERY_TIME" | translate
  }}</label>
  <input
    type="number"
    id="averageDeliveryTime"
    formControlName="averageDeliveryTime"
  />

  <label for="averageRating">{{ "FORM_AVERAGE_RATING" | translate }}:</label>
  <input
    type="number"
    step="0.1"
    id="averageRating"
    formControlName="averageRating"
  />

  <label for="maxNumberOfOrders"
    >{{ "FORM_MAX_NO_OF_ORDERS" | translate }}:</label
  >
  <input
    type="number"
    id="maxNumberOfOrders"
    formControlName="maxNumberOfOrders"
  />

  <label for="michelinStar">{{ "FORM_MICHELIN_STAR" | translate }}:</label>
  <input type="number" id="michelinStar" formControlName="michelinStar" />

  <label for="description">{{ "FORM_DESCRIPTION" | translate }}:</label>
  <textarea id="description" formControlName="description" rows="4"></textarea>

  <button type="submit" [disabled]="restaurantForm.invalid">
    {{ "FORM_SUBMIT" | translate }}
  </button>
</form>
